
@using ResturantUsingMvcEtLts.Models;

<h2>GetChefById</h2>

<h1>
    @ViewBag.Thechef.Id
    @ViewBag.Thechef.FullName
    @ViewBag.Thechef.Age
    @ViewBag.Thechef.Email
    @ViewBag.Thechef.Salary
</h1>

